jupyter_notebook/.ipynb_checkpoints/
..gitignore.un~
eduardo_mendes/live_51_multiprocessing/download/
.gitignore~
andrej_karpathy/building_micrograd/.ipynb_checkpoints/
python_code/pid/.ipynb_checkpoints/
python_code/pid/__pycache__/
python_code/servo_pid/.ipynb_checkpoints/
python_code/sensors/__pycache__/
