jupyter_notebook/.ipynb_checkpoints/
..gitignore.un~
eduardo_mendes/live_51_multiprocessing/download/
.gitignore~
andrej_karpathy/building_micrograd/.ipynb_checkpoints/
python_code/pid/.ipynb_checkpoints/
python_code/pid/__pycache__/
python_code/servo_pid/.ipynb_checkpoints/
python_code/sensors/__pycache__/
VID-20221211-WA0005.mp4
VID-20221211-WA0008.mp4
python_code/actuators/__pycache__/
python_code/car_control/__pycache__/
python_code/odometer/__pycache__/
python_code/odometer/odometer_lib.pyc
python_code/sensors/sensors_lib.pyc
cyber_nano/docs/cad/solidworks/

